torch
transformers
grpcio
grpcio-tools
asyncio
asyncpg
pg8000
google-cloud-aiplatform
cloud-sql-python-connector
langchain
pgvector
gradio
datasets
jsonlines
numpy
requests
scikit_learn
scipy
sentence_transformers
tqdm
rich
pyarrow
bs4
InstructorEmbedding
gradio_calendar
py-grpc-prometheus
